#bookGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin: 100px;
    margin-top: 40px;
    background-color: rgb(87, 72, 53,0.4);
    gap: 15px;

}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.book {
    display:flex;
    flex-direction: column;
    background-color: darkgreen;
    background-image: url(images/dark-leather.png);
    border: 5px solid blanchedalmond;
    padding: 5px;
    color: gold;
    align-items: center;
    padding-bottom: 35px; 
    border-top-left-radius: 4%;   
    border-bottom-left-radius: 4%;
}

.book p {
    margin: 3px;
}

html {
    background: url('images/background-image.jpeg') no-repeat center center fixed;
    background-size: cover;
}